/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#56daae;
    max-width: 200%;
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF; /* Color del puntaje */
}
#useHintButton {
    display: none; /* El botón se oculta inicialmente */
    background-color: #FFC107; /* Color del botón de comodín */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
#useHintButton:hover {
    background-color: #FFA000; /* Cambia el color al pasar el mouse por encima */
}
/* Estilos del crucigrama */
#crossword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
    background-color: #fff;
    border: 1px solid #000;
    width: 50%;
    max-width: 100%;
    background-color:#A5D6A7;
}

#crossword {
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(11, 60px);
    gap: 2px;
    font-size: 24px;
}

.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #8BC34A;
    color: #fff;
}

.horizontal {
    background-color: #81C784;
}

.vertical {
    background-color: #A5D6A7;
}

.cell.initial-letter {
    color: red;
}

.cell.completed {
    background-color: yellow;
}

/* Estilos del contenedor de preguntas y respuestas */
#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border: 5px solid #000;
    width: 250%;
    max-width: 100%;
}

#question {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#wordInput {
    font-size: 25px;
    padding: 5px;
    margin-bottom: 10px;
}

#submitButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#submitButton:hover {
    background-color: #0056b3;
}

/* Media queries para dispositivos móviles */
@media  screen and (max-width: 768px) {
    #crossword-container {
        width: 100%;
        padding: 10px;
        background-color: aqua;
        max-width: auto;
    }

    #crossword {
        font-size: 16px;
    }

    .cell {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    #question-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background-color: #fff;
        border: 5px solid #000;
        width: 250%;
        max-width: 100%;
    
    }

    #question {
        font-size: 16px;
    }

    #wordInput {
        font-size: 14px;
    }

    #submitButton {
        font-size: 14px;
    }
}
